
@{
    ViewBag.Title = "Ecommerce_demo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb" style=" background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Content/front/img/carousel-1.jpg); ">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">
                Our Projects
            </h4>
            <p class="mb-0">
                At Work Code, we take pride in delivering comprehensive technical solutions that meet the diverse needs of our clients across various industries. We develop innovative projects using the latest technologies to provide real added value to their businesses. Our projects include:

            </p>
        </div>
    </div>
    <!-- Header End -->
</div>
<!-- Navbar & Hero End -->
<br />

<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
    <h1 class="display-5 mb-4">E-Commerce</h1>

</div>

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="~/Content/front/img/ecommerse/Yourparagraphtext.png">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="~/Content/front/img/ecommerse/Yourparagraphtext.png" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/ecommerse/E-commerce-2.png" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/ecommerse/E-commerce-2.png" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/ecommerse/E-commerce-3.png" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/ecommerse/E-commerce-3.png" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/ecommerse/E-commerce4.png" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/ecommerse/E-commerce4.png" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/ecommerse/E-commerce-5.png" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/ecommerse/E-commerce-5.png" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/ecommerse/Untitleddesign-6.png" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/ecommerse/Untitleddesign-6.png" />
                    </a>
                </div>
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h1 class="title text-primary ">
                        E-Commerce Systems
                    </h1>
                    @*<div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                            <span class="text-success ms-2">In stock</span>
                        </div>

                        <div class="mb-3">
                            <span class="h5">$75.00</span>
                            <span class="text-muted">/per box</span>
                        </div>*@

                    <p>
                        An e-commerce platform is an advanced, easy-to-use management system designed to help businesses create, manage, and optimize their online stores. With multi-language support, multi-currency handling, and a wide range of features, an e-commerce platform ensures your store reaches customers around the world and provides a seamless shopping experience.
                    </p>
                    <br />
                    <br />
                    @*<div class="row">
                            <dt class="col-3">Type:</dt>
                            <dd class="col-9">Regular</dd>

                            <dt class="col-3">Color</dt>
                            <dd class="col-9">Brown</dd>

                            <dt class="col-3">Material</dt>
                            <dd class="col-9">Cotton, Jeans</dd>

                            <dt class="col-3">Brand</dt>
                            <dd class="col-9">Reebook</dd>
                        </div>

                        <hr />

                        <div class="row mb-4">
                            <div class="col-md-4 col-6">
                                <label class="mb-2">Size</label>
                                <select class="form-select border border-secondary" style="height: 35px;">
                                    <option>Small</option>
                                    <option>Medium</option>
                                    <option>Large</option>
                                </select>
                            </div>*@
                    <!-- col.// -->
                    @*<div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block">Quantity</label>
                                <div class="input-group mb-3" style="width: 170px;">
                                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>*@
                    <a href="@Url.Action("Create", "Contacts")" class="btn btn-warning shadow-0"> Contact Us </a>
                    <br />
                    <br />
                    <a href="@Url.Action("Create", "Lets_Work_To_Gether")" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-hand"></i> Let's Work To gether </a>
                </div>
            </main>
        </div>
    </div>
</section>





<!-- FAQs Start -->
<div class="container-fluid faq-section pb-5">
    <div class="container pb-5 overflow-hidden">

        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeIncenter text-center" data-wow-delay="0.2s">
                <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                    <div class="accordion-item rounded-top">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <h4>   Description</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body"><p>Platform Overview:</p><p>Our e-commerce platform is an advanced, user-friendly system designed to help businesses create, manage, and optimize their online stores. With multilingual support, multi-currency handling, and a wide range of features, the platform ensures your store reaches customers worldwide, providing a seamless shopping experience.</p></div>
                            <div class="accordion-body"><p>Key Features:</p><p>The admin panel serves as the control center, offering a comprehensive interface to manage every aspect of your online store. From product management and order tracking to advanced SEO and marketing tools, the platform is designed to enhance efficiency, customer satisfaction, and sales growth. Whether you're managing inventory, running marketing campaigns, or customizing your storefront, our e-commerce platform empowers you to succeed in the competitive online marketplace.</p></div>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <h4>   Admin Panel Overview:</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">
                                <p>The admin panel is the control center of the e-commerce platform, providing a comprehensive interface to manage every aspect of your online store. Here is a detailed breakdown of the admin panel features:</p>
                                <p> 1. Dashboard:  </p>
                                <p> 2. Product Management </p>
                                <p> 3. Order Management  </p>
                                <p> 4. Customer Management  </p>
                                <p> 5. Marketing Tools  </p>
                                <p> 6. Inventory Management  </p>
                                <p> 7. Sales Analytics  </p>
                                <p> 8. SEO & Marketing  </p>
                                <p> 9. Settings  </p>
                                <p> 10. Advanced Search & Filter  </p>
                                <p> 11. Reports & System Maintenance  </p>
                                <p> 12. User Management  </p>
                                <p> 13. Security & Compliance  </p>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <h4>Key Features:</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">
                                <p>The admin panel is the control center of the e-commerce platform, providing a comprehensive interface to manage every aspect of your online store. Here is a detailed breakdown of the admin panel features:</p>
                                <p> 1. Multilingual Support  </p>
                                <p> 2. Multi-Currency Support </p>
                                <p> 3. Multiple Case Management  </p>
                                <p> 4.Product Features and Options  </p>
                                <p> 5. Product SEO  </p>
                                <p> 6. Brands and Tags  </p>
                                <p> 7. Comments and Reviews  </p>
                                <p> 8. Discounts & Offers  </p>
                                <p> 9. Wishlist & Comparisons  </p>
                                <p> 10. Upselling & Cross-selling  </p>
                                <p> 11. Guest Accounts & Billing  </p>
                                <p> 12. Storefront Customization  </p>

                            </div>
                        </div>
                    </div>



                    @*<div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                What Is Online Trading, And How Dose It Work?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Which App Is Best For Online Trading?
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item rounded-bottom">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                How To Create A Trading Account?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                @*<div class="bg-primary rounded">
                        <img src="img/about-2.png" class="img-fluid w-100" alt="">
                    </div>*@
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
