
@{
    ViewBag.Title = "Tourism";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb" style=" background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Content/front/img/carousel-1.jpg); ">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">
                Our Projects
            </h4>
            <p class="mb-0">
                At Work Code, we take pride in delivering comprehensive technical solutions that meet the diverse needs of our clients across various industries. We develop innovative projects using the latest technologies to provide real added value to their businesses. Our projects include:

            </p>
        </div>
    </div>
    <!-- Header End -->
</div>
<!-- Navbar & Hero End -->
<br />

<div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
    <h1 class="display-5 mb-4">Tourism</h1>

</div>

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="~/Content/front/img/Tourism/1.jpg">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="~/Content/front/img/Tourism/1.jpg" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/Tourism/2.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/Tourism/2.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/Tourism/3.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/Tourism/3.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/Tourism/4.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/Tourism/4.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/Tourism/5.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/Tourism/5.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/Tourism/6.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/Tourism/6.jpg" />
                    </a>
                </div>
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h1 class="title text-primary ">
                        Tourism Platform Overview:
                    </h1>
                    @*<div class="d-flex flex-row my-3">
                            <div class="text-warning mb-1 me-2">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fas fa-star-half-alt"></i>
                                <span class="ms-1">
                                    4.5
                                </span>
                            </div>
                            <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                            <span class="text-success ms-2">In stock</span>
                        </div>

                        <div class="mb-3">
                            <span class="h5">$75.00</span>
                            <span class="text-muted">/per box</span>
                        </div>*@

                <p>
                    Our tourism platform is a comprehensive service that makes planning and booking your next adventure easier than ever. Whether you're organizing a trip, booking hotels, reserving airline tickets, renting cars, or seeking other tourism-related services, our platform provides everything you need in one place. The site is designed to cater to both regular users and administrators, ensuring a seamless experience for all.
                </p>
                    <br />
                    <br />
                    @*<div class="row">
                            <dt class="col-3">Type:</dt>
                            <dd class="col-9">Regular</dd>

                            <dt class="col-3">Color</dt>
                            <dd class="col-9">Brown</dd>

                            <dt class="col-3">Material</dt>
                            <dd class="col-9">Cotton, Jeans</dd>

                            <dt class="col-3">Brand</dt>
                            <dd class="col-9">Reebook</dd>
                        </div>

                        <hr />

                        <div class="row mb-4">
                            <div class="col-md-4 col-6">
                                <label class="mb-2">Size</label>
                                <select class="form-select border border-secondary" style="height: 35px;">
                                    <option>Small</option>
                                    <option>Medium</option>
                                    <option>Large</option>
                                </select>
                            </div>*@
                    <!-- col.// -->
                    @*<div class="col-md-4 col-6 mb-3">
                                <label class="mb-2 d-block">Quantity</label>
                                <div class="input-group mb-3" style="width: 170px;">
                                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                    <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>*@
                    <a href="@Url.Action("Create", "Contacts")" class="btn btn-warning shadow-0"> Contact Us </a>
                    <br />
                    <br />
                    <a href="@Url.Action("Create", "Lets_Work_To_Gether")" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-hand"></i> Let's Work To gether </a>
                </div>
            </main>
        </div>
    </div>
</section>





<!-- FAQs Start -->
<div class="container-fluid faq-section pb-5">
    <div class="container pb-5 overflow-hidden">

        <div class="row g-5 align-items-center">
            <div class="col-lg-12 wow fadeIncenter text-center" data-wow-delay="0.2s">
                <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                    <div class="accordion-item rounded-top">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <h4>   User Section:</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body"><p>For regular users, the platform offers an intuitive and user-friendly interface where they can effortlessly search, book, and manage all their travel needs. From finding the perfect hotel to booking flights, users can access a wide range of services with just a few clicks. The platform also allows users to customize their travel itineraries, compare prices, and access exclusive deals, making it the ideal choice for both solo travelers and families.</p></div>

                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                <h4>
                                    Admin Section:
                                </h4>
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">
                                <p> The admin section is the control hub of the platform, providing administrators with complete control over the user experience. Admins can manage all aspects of the site, including adding or updating services, monitoring bookings, handling customer inquiries, and ensuring that the platform runs smoothly. They can also manage user accounts, track activity, and generate reports to optimize the platform’s performance and user satisfaction. This dual-structure ensures that the site is both powerful and user-centric, making it a go-to solution for modern travelers and tourism professionals alike.  </p>

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                <h4>Features and Benefits:</h4>
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">
                                <p> 1. User-friendly interface </p>
                                <p> 2. Multiple booking services </p>
                                <p> 3. Multi-language and currency support  </p>
                                <p> 4.Price comparison  </p>
                                <p> 5. Trip management  </p>
                                <p> 6. Exclusive offers and discounts  </p>
                                <p> 7. Notifications and reminders  </p>
                                <p> 8. User management section  </p>
                                <p> 9. Rating and review system  </p>
                                <p> 10. Reports and Analytics  </p>
                                <p> 11. Dedicated Admin Interface  </p>

                            </div>
                        </div>
                    </div>



                    @*<div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    What Is Online Trading, And How Dose It Work?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    Which App Is Best For Online Trading?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                            </div>
                        </div>
                        <div class="accordion-item rounded-bottom">
                            <h2 class="accordion-header" id="flush-headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                    How To Create A Trading Account?
                                </button>
                            </h2>
                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushSection">
                                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">
                @*<div class="bg-primary rounded">
                        <img src="img/about-2.png" class="img-fluid w-100" alt="">
                    </div>*@
            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->