@{
    ViewBag.Title = "About";
}






<!-- Navbar & Hero Start -->
<div class="container-fluid position-relative p-0">
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb" style=" background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Content/front/img/carousel-1.jpg); ">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">About Us</h4>
        </div>
    </div>
    <!-- Header End -->
</div>
<!-- Navbar & Hero End -->
<!--/w3l-midslider-->
<section class="w3l-midslider py-5" id="midslider">
    <!-- /grids -->
    <div class="container py-md-5">
        <div class="row">
            <div class="col-lg-5 title-content text-left pe-lg-5 mb-lg-0 mb-5">
                <h3 class="text-primary">
                    Work Code
                </h3>
                <p class="mb-3">

                    WorkCode is your trusted partner in the digital realm, offering a comprehensive suite of services to propel your business forward. From programming and development to research, marketing, and page management, we provide tailored solutions designed to meet your unique needs and drive success. With our expertise, innovation, and client-centric approach, we empower businesses to thrive in today's fast-paced digital landscape. Let's craft your digital success story together with WorkCode.
                </p>
                <ul class="icon-list-items mt-3">
                    <li class="icon-list-item">
                        <i aria-hidden="true" class="fas fa-check"></i>
                        Innovative ideas
                    </li>


                </ul>

            </div>
            <!-- /grids -->
            <div class="col-lg-7 stats_info-images ps-lg-5">
                <div class="stats_info-images-right row">
                    <img src="~/Content/front/img/workcode.jpg" class="img-fluid radius-image" alt="" />


                </div>
            </div>

        </div>
        <!-- /grids -->
    </div>
</section>
<!--//w3l-midslider-->
<!--/w3l-project-->
<section class="w3l-index5 py-5" style="background: url(../Content/front/img/banner2.jpg) no-repeat center; background-size: cover; box-shadow:20%">
    <div class="container py-md-3" >
        <div class="w3l-project-in">
            <div class="row">
                <div class="col-lg-7">
                    <div class="bottom-info">
                        <div class="header-section pe-lg-5">
                            <h3 class="title-w3l two mb-3" style="color:white">
                                Get Started Today
                            </h3>
                            <p style="color:white">
                                Ready to take your business to new heights? Contact us today to learn more about our services and how we can help you achieve your digital goals. Whether you're a small startup or a large enterprise, we have the expertise and resources to drive your success. Let's embark on this journey together and forge a brighter future for your business with WorkCode.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 align-self mt-lg-0 mt-sm-5 mt-4">
                    <div class="w3l-buttons d-sm-flex justify-content-end">
                        <a href="@Url.Action("Let's Work to Gether", "Home")" class="btn btn-style btn-primary">Let's Work to Gether  </a>
                        <a href="@Url.Action("Create", "Contact")" class="btn btn-style btn-outline-primary">  Contact <i class="fas fa-arrow-right ms-lg-4 ms-2"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//w3l-project-->
<br />
<br />
<!-- FAQs Start -->
<div class="container-fluid faq-section pb-5">
    <div class="container pb-5 overflow-hidden">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h1 class=" display-5 mb-4">Modern Approach to Every New Project</h1>
            <p class="mb-0">
                We stay ahead of the curve with continuous learning and exploration of emerging technologies and industry trends to provide innovative solutions that drive success
            </p>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="accordion accordion-flush bg-light rounded p-5" id="accordionFlushSection">
                    <div class="accordion-item rounded-top">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Our Mission
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">At Work Code, our mission is to provide exceptional software solutions that drive success and innovation. We believe in the transformative power of technology, and we are committed to helping businesses leverage that power to achieve their goals. Our focus is on delivering high-quality, user-friendly, and efficient solutions that enhance business operations and create value for our clients.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Our Services
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">At Work Code, we offer a comprehensive suite of technology solutions designed to empower businesses across various industries. Our services are crafted to meet the evolving demands of the digital age, ensuring that your business stays ahead of the curve. Here's what we bring to the table</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Our Commitment
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">At Work Code, we are committed to excellence in everything we do. Our team of experienced developers, designers, and tech experts works tirelessly to deliver solutions that not only meet but exceed your expectations. We believe in building long-term partnerships with our clients, providing ongoing support, and staying ahead of the curve with the latest technological advancements.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Why Choose Work Code?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">Innovation-Driven: We are constantly exploring new technologies and methodologies to ensure that our solutions are at the forefront of innovation.</div>
                            <div class="accordion-body">Client-Centric: Your success is our priority. We take the time to understand your needs and tailor our solutions to fit your business perfectly.</div>
                            <div class="accordion-body">Quality Assurance: We are committed to delivering high-quality software that is reliable, secure, and user-friendly.</div>
                            <div class="accordion-body">Comprehensive Services: From development to deployment and beyond, we offer a full range of services to support your business's growth.</div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Our Expertise
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">With a team of skilled developers, designers, and tech enthusiasts, Work Code is equipped to handle projects of all scales and complexities. Whether it’s developing mobile apps, creating IoT solutions, or exploring the possibilities of AI, we are always at the forefront of technological advancements.</div>
                        </div>
                    </div>
                    <div class="accordion-item rounded-bottom">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                Our Vision for the Future
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushSection">
                            <div class="accordion-body">At Work Code, we believe in the power of technology to transform businesses and lives. As we continue to grow and expand our services, our focus remains on delivering innovative solutions that make a real difference. We are committed to being a trusted partner for businesses looking to embrace the future of technology.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.2s">

                <img src="~/Content/front/img/workcodeabout.jpg" class="img-fluid radius-image" alt="" />


            </div>
        </div>
    </div>
</div>
<!-- FAQs End -->
