@{
    ViewBag.Title = "Contact";
}
<head>
    <link href="~/Content/front/css/_single-product.css" rel="stylesheet" />
</head>











<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href="~/Content/front/img/about-1.jpg">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="~/Content/front/img/about-1.jpg" />
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/about-1.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/about-1.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/about-1.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/about-1.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/about-1.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/about-1.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/about-1.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/about-1.jpg" />
                    </a>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href="~/Content/front/img/about-1.jpg" class="item-thumb">
                        <img width="60" height="60" class="rounded-2" src="~/Content/front/img/about-1.jpg" />
                    </a>
                </div>
                <!-- thumbs-wrap.// -->
                <!-- gallery-wrap .end// -->
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        Quality Men's Hoodie for Winter, Men's Fashion <br />
                        Casual Hoodie
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <span class="h5">$75.00</span>
                        <span class="text-muted">/per box</span>
                    </div>

                    <p>
                        Modern look and quality demo item is a streetwear-inspired collection that continues to break away from the conventions of mainstream fashion. Made in Italy, these black and brown clothing low-top shirts for
                        men.
                    </p>

                    <div class="row">
                        <dt class="col-3">Type:</dt>
                        <dd class="col-9">Regular</dd>

                        <dt class="col-3">Color</dt>
                        <dd class="col-9">Brown</dd>

                        <dt class="col-3">Material</dt>
                        <dd class="col-9">Cotton, Jeans</dd>

                        <dt class="col-3">Brand</dt>
                        <dd class="col-9">Reebook</dd>
                    </div>

                    <hr />

                    <div class="row mb-4">
                        <div class="col-md-4 col-6">
                            <label class="mb-2">Size</label>
                            <select class="form-select border border-secondary" style="height: 35px;">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div>
                        <!-- col.// -->
                        <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input type="text" class="form-control text-center border border-secondary" placeholder="14" aria-label="Example text with button addon" aria-describedby="button-addon1" />
                                <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2" data-mdb-ripple-color="dark">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="btn btn-warning shadow-0"> Buy now </a>
                    <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
                    <a href="#" class="btn btn-light border border-secondary py-2 icon-hover px-3"> <i class="me-1 fa fa-heart fa-lg"></i> Save </a>
                </div>
            </main>
        </div>
    </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
    <div class="container">
        <div class="row gx-4">
            <div class="col-lg-8 mb-4">
                <div class="border rounded-2 px-3 py-2 bg-white">
                    <!-- Pills navs -->
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100 active" id="ex1-tab-1" data-mdb-toggle="pill" href="#ex1-pills-1" role="tab" aria-controls="ex1-pills-1" aria-selected="true">Specification</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2" data-mdb-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2" aria-selected="false">Warranty info</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3" data-mdb-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3" aria-selected="false">Shipping info</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4" data-mdb-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4" aria-selected="false">Seller profile</a>
                        </li>
                    </ul>
                    <!-- Pills navs -->
                    <!-- Pills content -->
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel" aria-labelledby="ex1-tab-1">
                            <p>
                                With supporting text below as a natural lead-in to additional content. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                            </p>
                            <div class="row mb-2">
                                <div class="col-12 col-md-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Lorem ipsum dolor sit amet, consectetur</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Duis aute irure dolor in reprehenderit</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Optical heart sensor</li>
                                    </ul>
                                </div>
                                <div class="col-12 col-md-6 mb-0">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-check text-success me-2"></i>Easy fast and ver good</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Some great feature name here</li>
                                        <li><i class="fas fa-check text-success me-2"></i>Modern style and design</li>
                                    </ul>
                                </div>
                            </div>
                            <table class="table border mt-3 mb-2">
                                <tr>
                                    <th class="py-2">Display:</th>
                                    <td class="py-2">13.3-inch LED-backlit display with IPS</td>
                                </tr>
                                <tr>
                                    <th class="py-2">Processor capacity:</th>
                                    <td class="py-2">2.3GHz dual-core Intel Core i5</td>
                                </tr>
                                <tr>
                                    <th class="py-2">Camera quality:</th>
                                    <td class="py-2">720p FaceTime HD camera</td>
                                </tr>
                                <tr>
                                    <th class="py-2">Memory</th>
                                    <td class="py-2">8 GB RAM or 16 GB RAM</td>
                                </tr>
                                <tr>
                                    <th class="py-2">Graphics</th>
                                    <td class="py-2">Intel Iris Plus Graphics 640</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                            Tab content or sample information now <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                            Another tab content or sample information now <br />
                            Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum.
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                            Some other tab content or sample information now <br />
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                            officia deserunt mollit anim id est laborum.
                        </div>
                    </div>
                    <!-- Pills content -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-0 border rounded-2 shadow-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Similar items</h5>
                            <div class="d-flex mb-3">
                                <a href="#" class="me-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/8.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                </a>
                                <div class="info">
                                    <a href="#" class="nav-link mb-1">
                                        Rucksack Backpack Large <br />
                                        Line Mounts
                                    </a>
                                    <strong class="text-dark"> $38.90</strong>
                                </div>
                            </div>

                            <div class="d-flex mb-3">
                                <a href="#" class="me-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/9.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                </a>
                                <div class="info">
                                    <a href="#" class="nav-link mb-1">
                                        Summer New Men's Denim <br />
                                        Jeans Shorts
                                    </a>
                                    <strong class="text-dark"> $29.50</strong>
                                </div>
                            </div>

                            <div class="d-flex mb-3">
                                <a href="#" class="me-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/10.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                </a>
                                <div class="info">
                                    <a href="#" class="nav-link mb-1"> T-shirts with multiple colors, for men and lady </a>
                                    <strong class="text-dark"> $120.00</strong>
                                </div>
                            </div>

                            <div class="d-flex">
                                <a href="#" class="me-3">
                                    <img src="https://mdbcdn.b-cdn.net/img/bootstrap-ecommerce/items/11.webp" style="min-width: 96px; height: 96px;" class="img-md img-thumbnail" />
                                </a>
                                <div class="info">
                                    <a href="#" class="nav-link mb-1"> Blazer Suit Dress Jacket for Men, Blue color </a>
                                    <strong class="text-dark"> $339.90</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>































<!--<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="~/Content/front/img/about-1.jpg" /></div>
                        <div class="tab-pane" id="pic-2"><img src="~/Content/front/img/about-1.jpg" /></div>
                        <div class="tab-pane" id="pic-3"><img src="~/Content/front/img/about-1.jpg" /></div>
                        <div class="tab-pane" id="pic-4"><img src="~/Content/front/img/about-1.jpg" /></div>
                        <div class="tab-pane" id="pic-5"><img src="~/Content/front/img/about-1.jpg" /></div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="~/Content/front/img/about-1.jpg" /></a></li>
                        <li><a data-target="#pic-2" data-toggle="tab"><img src="~/Content/front/img/about-1.jpg" /></a></li>
                        <li><a data-target="#pic-3" data-toggle="tab"><img src="~/Content/front/img/about-1.jpg" /></a></li>
                        <li><a data-target="#pic-4" data-toggle="tab"><img src="~/Content/front/img/about-1.jpg" /></a></li>
                        <li><a data-target="#pic-5" data-toggle="tab"><img src="~/Content/front/img/about-1.jpg" /></a></li>
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">vivo Y20G 6GB/128GB Smartphone</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <span class="review-no">41 reviews</span>
                    </div>
                    <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                    <h4 class="price">current price: <span>$180</span></h4>
                    <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                    <h5 class="sizes">
                        sizes:
                        <span class="size" data-toggle="tooltip" title="small">s</span>
                        <span class="size" data-toggle="tooltip" title="medium">m</span>
                        <span class="size" data-toggle="tooltip" title="large">l</span>
                        <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                    </h5>
                    <h5 class="colors">
                        colors:
                        <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span>
                        <span class="color green"></span>
                        <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="single-product">
    <div class="container">

        <div class="row mt-20">
            <div class="col-md-5">
                <div class="single-product-slider">
                    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                        <div class='carousel-outer'>
                            <!-- me art lab slider -->
<!--<div class='carousel-inner '>
    <div class='item '>
        <img src='~/Content/front/img/about-1.jpg' alt='' data-zoom-image="~/Content/front/img/about-1.jpg" />
    </div>-->
@*<div class='item'>
        <img src='~/Content/front/img/about-1.jpg' alt='' data-zoom-image="images/shop/single-products/product-2.jpg" />
    </div>

    <div class='item'>
        <img src='~/Content/front/img/about-1.jpg' alt='' data-zoom-image="images/shop/single-products/product-3.jpg" />
    </div>
    <div class='item'>
        <img src='~/Content/front/img/about-1.jpg' alt='' data-zoom-image="images/shop/single-products/product-4.jpg" />
    </div>
    <div class='item'>
        <img src='~/Content/front/img/about-1.jpg' alt='' data-zoom-image="images/shop/single-products/product-5.jpg" />
    </div>
    <div class='item'>
        <img src='~/Content/front/img/about-1.jpgg' alt='' data-zoom-image="images/shop/single-products/product-6.jpg" />
    </div>*@

                                </div>-->

<!-- sag sol -->
<!--<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
        <i class="tf-ion-ios-arrow-left"></i>
    </a>
    <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
        <i class="tf-ion-ios-arrow-right"></i>
    </a>
</div>-->
<!-- thumb -->
<!--<ol class='carousel-indicators mCustomScrollbar meartlab'>
                    <li data-target='#carousel-custom' data-slide-to='0' class='active'>
                        <img src='~/Content/front/img/about-1.jpg' alt='' />
                    </li>
                    <li data-target='#carousel-custom' data-slide-to='1'>
                        <img src='~/Content/front/img/about-5.jpg' alt='' />
                    </li>
                    <li data-target='#carousel-custom' data-slide-to='2'>
                        <img src='~/Content/front/img/about-1.jpg' alt='' />
                    </li>
                    <li data-target='#carousel-custom' data-slide-to='3'>
                        <img src='~/Content/front/img/about-5.jpg' alt='' />
                    </li>
                    <li data-target='#carousel-custom' data-slide-to='4'>
                        <img src='~/Content/front/img/about-1.jpg' alt='' />
                    </li>
                    <li data-target='#carousel-custom' data-slide-to='5'>
                        <img src='~/Content/front/img/about-5.jpg' alt='' />
                    </li>
                    <li data-target='#carousel-custom' data-slide-to='6'>
                        <img src='~/Content/front/img/about-1.jpg' alt='' />
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="single-product-details">
            <h2>Eclipse Crossbody</h2>
            <p class="product-price">$300</p>

            <p class="product-description mt-20">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum ipsum dicta quod, quia doloremque aut deserunt commodi quis. Totam a consequatur beatae nostrum, earum consequuntur? Eveniet consequatur ipsum dicta recusandae.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, velit, sunt temporibus, nulla accusamus similique sapiente tempora, at atque cumque assumenda minus asperiores est esse sequi dolore magnam. Debitis, explicabo.</p>
            <div class="color-swatches">
                <span>color:</span>
                <ul>
                    <li>
                        <a href="#!" class="swatch-violet"></a>
                    </li>
                    <li>
                        <a href="#!" class="swatch-black"></a>
                    </li>
                    <li>
                        <a href="#!" class="swatch-cream"></a>
                    </li>
                </ul>
            </div>
            <div class="product-size">
                <span>Size:</span>
                <select class="form-control">
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                </select>
            </div>
            <div class="product-quantity">
                <span>Quantity:</span>
                <div class="product-quantity-slider">
                    <input id="product-quantity" type="text" value="0" name="product-quantity">
                </div>
            </div>
            <div class="product-category">
                <span>Categories:</span>
                <ul>
                    <li><a href="product-single.html">Products</a></li>
                    <li><a href="product-single.html">Soap</a></li>
                </ul>
            </div>
            <a href="cart.html" class="btn btn-main mt-20">Add To Cart</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="tabCommon mt-20">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">Details</a></li>
                <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>
            </ul>
            <div class="tab-content patternbg">
                <div id="details" class="tab-pane fade active in">
                    <h4>Product Description</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut per spici</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis delectus quidem repudiandae veniam distinctio repellendus magni pariatur molestiae asperiores animi, eos quod iusto hic doloremque iste a, nisi iure at unde molestias enim fugit, nulla voluptatibus. Deserunt voluptate tempora aut illum harum, deleniti laborum animi neque, praesentium explicabo, debitis ipsa?</p>
                </div>
                <div id="reviews" class="tab-pane fade">
                    <div class="post-comments">
                        <ul class="media-list comments-list m-bot-50 clearlist">-->
<!-- Comment Item start-->
<!--<li class="media">

    <a class="pull-left" href="#!">
        <img class="media-object comment-avatar" src="images/blog/avater-1.jpg" alt="" width="50" height="50" />
    </a>

    <div class="media-body">
        <div class="comment-info">
            <h4 class="comment-author">
                <a href="#!">Jonathon Andrew</a>

            </h4>
            <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
            <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod laborum minima, reprehenderit laboriosam officiis praesentium? Impedit minus provident assumenda quae.
        </p>
    </div>

</li>-->
<!-- End Comment Item -->
<!-- Comment Item start-->
<!--<li class="media">

    <a class="pull-left" href="#!">
        <img class="media-object comment-avatar" src="images/blog/avater-4.jpg" alt="" width="50" height="50" />
    </a>

    <div class="media-body">

        <div class="comment-info">
            <div class="comment-author">
                <a href="#!">Jonathon Andrew</a>
            </div>
            <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
            <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni natus, nostrum iste non delectus atque ab a accusantium optio, dolor!
        </p>

    </div>

</li>-->
<!-- End Comment Item -->
<!-- Comment Item start-->
<!--<li class="media">

                                        <a class="pull-left" href="#!">
                                            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg" alt="" width="50" height="50">
                                        </a>

                                        <div class="media-body">

                                            <div class="comment-info">
                                                <div class="comment-author">
                                                    <a href="#!">Jonathon Andrew</a>
                                                </div>
                                                <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                <a class="comment-button" href="#!"><i class="tf-ion-chatbubbles"></i>Reply</a>
                                            </div>

                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.
                                            </p>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
